/* Raleway */
$Raleway: 'Raleway', 'FontAwesome', sans-serif;

/* FontAwesome */
$FontAwesome: 'FontAwesome', sans-serif;

/* Arial */
$Arial: Arial, sans-serif;

/* Arial */
$ArialNarrow: 'Arial Narrow', Arial, sans-serif;

/* PT Sans */
$PTSans: "PT Sans", sans-serif;

/* media */
$media-768: 768;
$media-769: 769;
$media-640: 640;
$media-480: 480;
$media-320: 320;