.banner {
    position: relative;
    height: 400px;
    background-position: center center;
    background-size: cover;

    @include breakpointmedia($media-768, 'max-width') {
        height: 300px;
    }

    @include breakpointmedia($media-640, 'max-width') {
        height: 200px;
    }

    @include breakpointmedia($media-480, 'max-width') {
        height: 150px;
    }
}

.banner__box {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 72px;
    line-height: 110px;
    color: #fff;

    @include breakpointmedia($media-768, 'max-width') {
        font-size: 50px;
        line-height: 50px;
    }

    @include breakpointmedia($media-640, 'max-width') {
        font-size: 40px;
        line-height: 40px;
    }

    @include breakpointmedia($media-480, 'max-width') {
        font-size: 30px;
        line-height: 30px;
    }

    span {
        color: #f9d088;
    }
}