@import "../../../../sass/vars";
@import "../../../../sass/mixin/mixin";
@import "../../../../sass/layout/header";
@import "../../../../sass/layout/footer";

html {
    &.openMenu {
        overflow: hidden;
        height: 100%;
        border: none;

        body {
            overflow: hidden;
            position: relative;
            box-sizing: border-box;
            margin: 0;
            height: 100%;
        }

        .menuMobile {
            visibility: visible;
            opacity: 1;
        }

        .menuMobile {
            display: block;
        }

        .navbar-header { display: none; }
    }
}

body {
    font-family: $Raleway;
}

.wrapper {
    max-width: 950px;
    margin: auto;
    padding: 0 20px;
    box-sizing: content-box;
}

footer {
    padding: 0;
}

@include footer-item(378px, 'div#wrapper', '.footer');

.headerMain {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1010;

    ul {
        margin: 0;
        list-style-type: none;
        background: transparent!important;
    }
}

.menuMobile {
    z-index: 1020;
    margin: 0;
    list-style-type: none;

    ul {
        margin: 0;
        list-style-type: none;
    }
}

.over-main {
    z-index: 1005;
}

body {
    padding-top: 54px;
}

.menu-mobileLink {
    box-sizing: content-box;
}

.menu-desktop {
    @include breakpointmedia($media-768, 'max-width') {
        display: none!important;
    }
}

.menuMobileSubmenu__title {
    color: #fff!important;
}

.menu {
    .menu-desktop { padding-left: 0; }
    .submenu ul { padding-left: 0; }
}

.footerMenu { padding-left: 0; }
.footerMenu a { color: #999!important; }
.footer__description { margin-top: 0; }